<div class="slideout-content">
  <!-- Modal to add new user starts-->
  <div
    class="modallg modal-slide-in sdfade new-user-modal"
    id="modals-slide-in"
  >
    <div class="modal-dialog">
      <form
        class="add-new-user modal-content pt-0"
        formGroup="employeeForm"
        (submit)="submit()"
      >
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="toggleSidebar('new-salary')"
        >
          ×
        </button>
        <div class="modal-header mb-1">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo Empleado</h5>
        </div>
        <div class="modal-body flex-grow-1">
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname"
              >Code</label
            >
            <input
              type="text"
              class="form-control dt-full-name"
              formControlName="name"
              placeholder="code"
              name="user-fullname"
              required
              aria-label="Name"
              aria-describedby="basic-icon-default-fullname2"
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname"
              >Name</label
            >
            <input
              type="text"
              class="form-control dt-full-name"
              formControlName="name"
              placeholder="Name"
              name="user-fullname"
              required
              aria-label="Name"
              aria-describedby="basic-icon-default-fullname2"
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname"
              >Sur Name</label
            >
            <input
              type="text"
              class="form-control dt-full-name"
              formControlName="name"
              placeholder="Sur Name"
              name="user-fullname"
              required
              aria-label="Sur Name"
              aria-describedby="basic-icon-default-fullname2"
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname"
              >Número de identificacion</label
            >
            <input
              type="text"
              class="form-control dt-full-name"
              formControlName="name"
              placeholder="Numero de indentificación"
              name="user-fullname"
              required
              aria-label="Numero de indentificación"
              aria-describedby="basic-icon-default-fullname2"
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname"
              >Fecha de Nacimiento</label
            >
            <input
              type="date"
              class="form-control dt-full-name"
              formControlName="name"
              placeholder="Fecha de Nacimiento"
              name="user-fullname"
              required
              aria-label="Fecha de Nacimiento"
              aria-describedby="basic-icon-default-fullname2"
            />
          </div>

          <button type="submit" class="btn btn-primary mr-1" rippleEffect>
            Submit
          </button>
          <button
            type="reset"
            class="btn btn-outline-secondary"
            (click)="toggleSidebar('new-salary')"
            rippleEffect
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Modal to add new user Ends-->
</div>
