<form class="form-horizontal" (submit)="submit()" [formGroup]="salaryForm">
  <div *ngIf="msg.length > 0">
    <p class="danger" style="color: red; margin-left: 10px">*{{ msg }}</p>
  </div>
  <div class="row col-12">
    <div class="col">
      <div class="form-group">
        <label class="form-control-label">Employee</label>
        <select formControlName="employeeId" class="form-control">
          <option *ngFor="let emp of services.Employees" [value]="emp.id">
            {{ emp.employeeName }}
          </option>
        </select>
        <div
          *ngIf="salaryForm.get('employeeId').invalid"
          class="invalid-feedback"
        >
          <div *ngIf="salaryForm.get('employeeId').errors.required">
            Employee is required
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label class="form-control-label">Begin Date</label>
        <input
          formControlName="beginDate"
          class="form-control input-md"
          required
          type="date"
          placeholder="Name"
        />
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label class="form-control-label">Office</label>
        <select formControlName="OfficeId" class="form-control">
          <option
            selected
            *ngFor="let item of services.offices"
            [value]="item.id"
          >
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label class="form-control-label">Division</label>
        <select formControlName="DivisionId" class="form-control">
          <option
            selected
            *ngFor="let item of services.divitions"
            [value]="item.id"
          >
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label class="form-control-label">Position </label>
        <select formControlName="PisitionId" class="form-control">
          <option
            selected
            *ngFor="let item of services.positions"
            [value]="item.id"
          >
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label class="form-control-label">Month</label>
        <select formControlName="month" class="form-control">
          <option selected value="1">January</option>
          <option value="2">Febraury</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label class="form-control-label">Year</label>
        <input
          formControlName="year"
          class="form-control input-md"
          required
          type="number"
          placeholder="Year"
        />
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label class="form-control-label">Grade</label>
        <input
          formControlName="grade"
          class="form-control input-md"
          required
          type="number"
          placeholder="Grado"
        />
      </div>
    </div>
  </div>
  <h4></h4>
  <div class="row col-12">
    <div class="col">
      <div class="form-group">
        <label class="form-control-label">Salario Base</label>
        <input
          class="form-control input-md"
          required
          formControlName="baseSalary"
          type="number"
          placeholder="Salario Base"
        />
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label class="form-control-label">Production Bonus</label>
        <input
          class="form-control input-md"
          required
          formControlName="productionBonus"
          type="number"
          placeholder="Production Bonus"
        />
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label class="form-control-label">Compensation Bonus</label>
        <input
          formControlName="compensationBase"
          class="form-control input-md"
          required
          type="number"
          placeholder="Compensation Bonus"
        />
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label class="form-control-label">Commision</label>
        <input
          class="form-control input-md"
          formControlName="commision"
          required
          type="number"
          placeholder="Commision"
        />
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label class="form-control-label">Constribution</label>
        <input
          formControlName="constribution"
          class="form-control input-md"
          required
          type="number"
          placeholder="Constribution"
        />
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary ml-1 mt-10"
          style="margin-top: 1.6rem"
          (click)="AddToLocal()"
          rippleEffect
        >
          <i
            data-feather="plus"
            class="d-sm-none d-inline-block mr-0 mr-sm-1"
          ></i
          ><span class="d-none d-sm-inline-block">Agregar </span>
        </button>
      </div>
    </div>
  </div>
</form>
