<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="modal-size-lg d-inline-block">
      <!-- Modal -->
      <ng-template #modalLG let-modal>
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel160">Nuevo Salario</h5>
          <button
            type="button"
            class="close"
            (click)="modal.dismiss('Cross click')"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" tabindex="0" ngbAutofocus>
          <div class="row"><app-add-salary></app-add-salary></div>
          <hr />
          <div class="row">
            <table class="table">
              <thead>
                <th>Begin Date</th>
                <th>Oficina</th>
                <th>Division</th>
                <th>Position</th>
                <th>Mes</th>
                <th>Año</th>
                <th>Salario Base</th>
                <th>Production Bonus</th>
                <th>Compensation Bonus</th>
                <th>Commision</th>
                <th>Constribution</th>
                <th>Option</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of _service.Salaries">
                  <td>{{ item.beginDate }}</td>
                  <td>{{ _service.getOffice(item.OfficeId) }}</td>
                  <td>{{ _service.getDivision(item.DivisionId) }}</td>
                  <td>{{ _service.getPosition(item.PisitionId) }}</td>
                  <td>{{ item.month }}</td>
                  <td>{{ item.year }}</td>
                  <td>{{ item.baseSalary }}</td>
                  <td>{{ item.compensationBase }}</td>
                  <td>{{ item.commision }}</td>
                  <td>{{ item.constribution }}</td>
                  <td>{{ item.office }}</td>
                  <td><a href="#"> Delete </a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="
              [modal.close('Accept click'), _service.SendSalariesToServer()]
            "
            rippleEffect
          >
            <i class="save"></i> Guardar registro
          </button>
        </div>
      </ng-template>
      <!-- / Modal -->
    </div>
    <!-- Kitchen Sink Datatables -->
    <core-card>
      <div
        class="core-card-body"
        style="padding-left: 5px; padding-right: 10px; padding-top: 0px"
      >
        <section id="card ngx-datatable-kitchen-sink">
          <h4 class="card-title">Lista de Salarios</h4>
          <h6>Filtros de empleados</h6>
          <div class="row">
            <div class="col-12 mb-50">
              <button
                class="btn btn-primary btn-sm ml-1 col-3"
                [disabled]="buttonEnable"
                (click)="AppllyFilter(1)"
                rippleEffect
              >
                <span class="d-none d-sm-inline-block"
                  >Con la misma Oficina y Grado</span
                >
              </button>
              <button
                class="btn btn-primary btn-sm ml-1 col-2"
                [disabled]="buttonEnable"
                rippleEffect
                (click)="AppllyFilter(2)"
              >
                <span class="d-none d-sm-inline-block">
                  todas las Oficinas y con el mismo Grado</span
                >
              </button>
              <button
                class="btn btn-primary btn-sm ml-1 col-3"
                [disabled]="buttonEnable"
                (click)="AppllyFilter(3)"
                rippleEffect
              >
                <span class="d-none d-sm-inline-block"
                  >con la misma Posición y Grado</span
                >
              </button>
              <button
                class="btn btn-primary btn-sm ml-1 col-3"
                [disabled]="buttonEnable"
                (click)="AppllyFilter(4)"
                rippleEffect
              >
                <span class="d-none d-sm-inline-block"
                  >todas las Posiciones y con el mismo Grado</span
                >
              </button>
            </div>
            <div class="col-md-6 col-12">
              <div
                class="d-flex justify-content-between align-items-center m-1"
              >
                <label class="d-flex align-items-center"
                  >Show
                  <select
                    class="form-control mx-25"
                    [(ngModel)]="basicSelectedOption"
                  >
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  entries</label
                >
              </div>
            </div>
            <div class="col-md-6 col-12 d-flex justify-content-md-end">
              <div
                class="
                  d-flex
                  align-items-center
                  justify-content-end
                  pr-1
                  pb-1
                  pl-1 pl-md-0
                  pb-md-0
                "
              >
                <label class="d-flex align-items-center"
                  >Buscar<input
                    type="search"
                    placeholder="Search"
                    class="form-control ml-25"
                    (keyup)="filterUpdate($event)"
                    (search)="filterUpdate($event)"
                /></label>
                <button
                  class="btn btn-primary ml-1"
                  rippleEffect
                  (click)="GetInfo()"
                >
                  <i
                    data-feather="plus"
                    class="d-sm-none d-inline-block mr-0 mr-sm-1"
                  ></i
                  ><span class="d-none d-sm-inline-block">Recargar</span>
                </button>
                <button
                  class="btn btn-primary ml-1"
                  rippleEffect
                  (click)="toggleSidebar('new-salary')"
                >
                  <i
                    data-feather="plus"
                    class="d-sm-none d-inline-block mr-0 mr-sm-1"
                  ></i
                  ><span class="d-none d-sm-inline-block"
                    >Agregar empleado</span
                  >
                </button>
                <button
                  class="btn btn-primary ml-1"
                  rippleEffect
                  (click)="modalOpenLG(modalLG)"
                >
                  <i
                    data-feather="plus"
                    class="d-sm-none d-inline-block mr-0 mr-sm-1"
                  ></i
                  ><span class="d-none d-sm-inline-block">Agregar salario</span>
                </button>
              </div>
            </div>
          </div>
          <ngx-datatable
            [rows]="kitchenSinkRows"
            [rowHeight]="58"
            class="bootstrap core-bootstrap"
            [limit]="10"
            [columnMode]="ColumnMode.force"
            [headerHeight]="40"
            [footerHeight]="50"
            [scrollbarH]="true"
            [selectionType]="SelectionType.checkbox"
            [limit]="basicSelectedOption"
            (activate)="onActivate($event)"
            (select)="onSelect($event)"
          >
            <ngx-datatable-column
              [width]="50"
              [sortable]="false"
              [canAutoResize]="false"
              [draggable]="false"
              [resizeable]="false"
            >
              <ng-template
                ngx-datatable-header-template
                let-value="value"
                let-allRowsSelected="allRowsSelected"
                let-selectFn="selectFn"
              >
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    [checked]="allRowsSelected"
                    (change)="selectFn(!allRowsSelected)"
                    id="headerChkbxRef"
                  />
                  <label
                    class="custom-control-label"
                    for="headerChkbxRef"
                  ></label>
                </div>
              </ng-template>
              <ng-template
                ngx-datatable-cell-template
                let-rowIndex="rowIndex"
                let-value="value"
                let-isSelected="isSelected"
                let-onCheckboxChangeFn="onCheckboxChangeFn"
              >
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    [checked]="isSelected"
                    (change)="onCheckboxChangeFn($event)"
                    id="rowChkbxRef{{ rowIndex }}"
                  />
                  <label
                    class="custom-control-label"
                    for="rowChkbxRef{{ rowIndex }}"
                  ></label>
                </div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column
              name="Codigó"
              prop="employeeCode"
              [width]="50"
            ></ngx-datatable-column>
            <ngx-datatable-column
              name="Nombre"
              prop="fullName"
              [width]="100"
            ></ngx-datatable-column>
            <ngx-datatable-column
              name="Identificación"
              prop="identificacionNumber"
              [width]="80"
            ></ngx-datatable-column>
            <ngx-datatable-column name="Cumpleaños" [width]="90">
              <ng-template
                ngx-datatable-cell-template
                let-rowIndex="rowIndex"
                let-value="value"
                let-row="row"
              >
                {{ row.birthDay | date: "mediumDate" }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="Grado"
              prop="grade"
              [width]="90"
            ></ngx-datatable-column>

            <ngx-datatable-column
              name="División"
              prop="division"
              [width]="90"
            ></ngx-datatable-column>
            <ngx-datatable-column
              name="Posisión"
              prop="position"
              [width]="120"
            ></ngx-datatable-column>
            <ngx-datatable-column name="Fecha Inicio" [width]="120">
              <ng-template
                ngx-datatable-cell-template
                let-rowIndex="rowIndex"
                let-value="value"
                let-row="row"
              >
                {{ row.beginDate | date: "mediumDate" }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Salario Total" [width]="120">
              <ng-template
                ngx-datatable-cell-template
                let-rowIndex="rowIndex"
                let-value="value"
                let-row="row"
              >
                {{ row.totalSalary | currency }}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </section>
      </div>
    </core-card>
  </div>
</div>
<core-sidebar
  class="modal modal-slide-in sidebar-todo-modal fade"
  name="new-salary"
  overlayClass="modal-backdrop"
>
  <h3>Nuevo Salario</h3>
  <app-salary-form></app-salary-form>
  <!-- <app-new-user-sidebar></app-new-user-sidebar> -->
</core-sidebar>
